.allCardCls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 20px;
}
.categoriesCls{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 50%;
    
}
.navBarByCategories{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
   
}
