.allCardCls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 20px;
}
.categoriesCls{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: beige;
    padding: 20px;
    
}
