.layout{
    background-color: antiquewhite;
    color: red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout > link{
    text-decoration: none !important;
}